html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #FFFFFF;
}

/* p { */
  /* width: 200px; */
  /* margin: auto auto; */
  /* background-color: #f8f9fa; */
  /* padding: 1em; */
  /* border: 1px solid; */
  /* border-color: #a2a9b1; */
/* } */

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #0b0080;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width:100%;
	max-height:100%;
	object-fit: contain;
}
	
.btn {
	cursor: pointer;
	border: none;
	outline: none;
	color: #0645ad;
	text-decoration: none;
	text-indent: 2em;
	background: none;

}

.active{
	border: none;
	background-color: none;
}

.active:after{
  content: "\2190"; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 2px;
}
	

.btn:hover{
	border:none;
	text-decoration: underline;
	background-color: none;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #a1a1a1;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* border: 1px solid; */
  /* border-color: #a2a9b1; */
}

.prev {
	left:-100px;
}
/* Position the "next button" to the right */
.next {
  right: -100px;
  border-radius: 3px 0 0 3px;

}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.collapsible {
  font-size: 12px;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.collapsible:after {
  content: '[-]'; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 5px;
}

.collapsibleidx {
  font-size: 12px;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.collapsibleidx:after {
  content: '[+]'; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 5px;
}

.activeIdx:after {
	content: "[-]"; /* Unicode character for "minus" sign (-) */
}

.activeMain:after {
  content: "[+]"; /* Unicode character for "minus" sign (-) */
}

.content {
  height:auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content.open {
	height:auto;
	max-height: 72px;
	overflow: hidden;
}

.contentOpen {
  height:auto;
  max-height: 72px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contentOpen.collapsed {
  max-height:0;
}



.images {
	width: 850px;
	height: 850px;	
}

.middle {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  margin-left: 10px;
  margin-top: 10px
}

.mySlides {
  display: none;
}

/* The side navigation menu */
.sidebar {
    letter-spacing: 2px;
	text-align: justify;
	margin: 5;
	padding: 0;
	width: 100px;
	background-color: white;
	position: fixed;
	height: 100%;
	overflow: auto;
}



.toc {
  width: 200px;
  margin: 0 0;
  background-color: #f8f9fa;
  padding: 1em;
  border: 1px solid;
  border-color: #a2a9b1;
  line-height: 2;
}

.toc2 {
	  text-indent: 2em;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}