@-ms-viewport{
  width: device-width;
}

@media only screen and (max-device-width: 768px) {
      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
	  #hide_this{
		  /* display:none; */
		  font-size:6px;
		  }
	  #mob {
		  top:10%;
		  -webkit-tap-highlight-color: transparent;
		  /* height:10%; */
	  }
	  /* #slides { */
		  /* height: 100px; */
	  /* } */
    }

 @media only screen and (min-device-width: 769px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    }


html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #FFFFFF;
  -webkit-font-smoothing: subpixel-antialiased;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* p { */
  /* width: 200px; */
  /* margin: auto auto; */
  /* background-color: #f8f9fa; */
  /* padding: 1em; */
  /* border: 1px solid; */
  /* border-color: #a2a9b1; */
/* } */

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
  text-decoration: none;
  /*color: #0b0080;*/
  color: #0645ad;
}

a:hover {
	text-decoration: underline;
}

a:focus {
    outline: none;
}

img {
	max-width: 100%;

	max-height: 90vh;

  image-rendering: high-quality;
  image-rendering: -webkit-optimize-contrast;

	display: block; /* remove extra space below image */
	object-fit: contain;
}


button::-moz-focus-inner {
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}




.btn {
	cursor: pointer;
	border: none;
	outline: none;
	color: #0645ad;
	text-decoration: none;
	background: none;
	margin:none;
  font-family: "Open Sans", sans-serif;

}-

.active{
	border: none;
	background-color: none;
}

.active:after{
  content: "\2190"; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 5px;
}


.btn:hover{
	border:none;
	text-decoration: underline;
	background-color: none;
}

.btn2 {
	font-size: 15px;
	cursor: pointer;
	border: none;
	outline: none;
	color: #0645ad;
	text-decoration: none;
	background: none;
	margin:none;

}


/* Next & previous buttons */
.prev, .next {

	display:block;
	/* vertical-align: top; */
	position:relative;
	/* top: 50%; */
	/* width: auto; */
	/* margin-top: -22px; */
	color: #a1a1a1;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	/* border: 1px solid; */
	background:none;
	z-index: 1000;
	/* border-color: #a2a9b1; */
	cursor: pointer;
	border: none;
	outline: none;

	overflow:hidden;
	width:50%;
	height:100%;
	max-height: 850px;
}

.prev {
	/* left:-100px; */
	/* top:-200%; */
  border:1px solid;
}
/* Position the "next button" to the right */
.next {
  border:1px solid;
	/* top:-100%; */
	/* left:50%; */

}
.center {
  /* border: 1px solid; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.collapsible {
  font-size: inherit;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.collapsible:after {
  content: '[-]'; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 5px;
}

.collapsibleidx {
  font-size: inherit;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.collapsibleidx:after {
  content: '[+]'; /* Unicode character for "plus" sign (+) */
  color: black;
  float: right;
  margin-left: 5px;
}

.activeIdx:after {
	content: "[-]"; /* Unicode character for "minus" sign (-) */
}

.activeMain:after {
  content: "[+]"; /* Unicode character for "minus" sign (-) */
}

.no_coll {
  font-size: inherit;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.caption_img {
	display: inline-block;
	font-size: 10px;
	line-height: 1.5;
	color: black;
	list-style-type: none; /* Remove bullets */
	position: absolute;
	top: 0%;
	left:2%;
	width:200px;
	margin-left:100%;
	/* border:1px solid; */
	/* border-color: blue; */

}

.caption_por {
	/* border: 1px solid; */
	font-size: 10px;
	line-height: 1.5;
	color: black;
	list-style-type: none; /* Remove bullets */
	position: absolute;
	top: 5%;
	width: auto;
	margin-top: 0px;
	padding: 0px;
	left:700px;
	top: 50%;
	margin: -425px 0 0 0;
}

.nbtns {
  position: absolute;
  border: 4px double;
  top: -10px;


}

.cap {
	font-size: 10px;
	line-height: 1.5;
	color: black;
	list-style-type: none; /* Remove bullets */
	margin-left:1%;
	margin-top: none;
	/* min-width: min-content; */
	/* min-width: 110px; */
	/*border: 4px double;*/
	min-width:min-content;
	overflow:hidden;

}
.caption_inc {



	/*border:1px dotted;*/
	/* border-color:red; */
	white-space: nowrap;
	overflow: hidden;
	/* min-width: min-content; */
	max-height: 0;
	overflow: hidden;
	/*max-width: 20vw;*/
}

.active_cap {
	height:auto;
	max-height: 300px;
	/*max-width: 20vw;*/
	overflow: hidden;
}

.newCap {
  height:auto;
	max-height: 300px;
	/*max-width: 20vw;*/
	overflow: hidden;
}





.content {
  height:auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content.open {
	height:auto;
	max-height: 500px;
	overflow: hidden;
}

.contentOpen {
  height:auto;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contentOpen.collapsed {
  max-height:0;
}

.embed-container {
  --video--width: 1920;
  --video--height: 1080;

  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.images {
	/*border:1px solid;*/
	/* position:relative; */
	margin-left: 4%;
	max-width: 800px;
	/* max-width: 35vw; */
	max-height: 90vh;
	left:4%;
	z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  /* scroll-snap-align: center; */
}

.images_text {
	/*border:1px solid;*/
	/* position:relative; */
	margin-left: 4%;
	max-width: 25vw;
	/* max-width: 35vw; */
	max-height: 90vh;
	left:4%;
	z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  /* scroll-snap-align: center; */
}

#images img {
   scroll-snap-align: center;
}

/* .images:after { */
  /* content: ""; */
  /* display: block; */
  /* padding-bottom: 100%; */
/* } */

.nav {
    list-style-type: none; /* Remove bullets */
	font-size:9px;
	left: 7%;
	/* text-align:center; */
	z-index:9999;
	position:absolute;
	top: 8%;
	height:2%;
	max-width: 800px;
	border: 1px solid;

}

.indent{
	display: flex;                  /* establish flex container */
	flex-direction: row;            /* default value; can be omitted */
	flex-wrap: nowrap;              /* default value; can be omitted */
	justify-content: flex-start;
	align-items:flex-start;
	/* border: 2px dotted; */
	top:5%;
	left:3%;
	right: 3%;
	/* width:96%; */
	height: 94%;
	position:absolute;
	overflow: hidden;
}

.middle {

	flex: initial;
	/* border:4px solid; */
	position: relative;
	width:12%;
	height:50%;
	/* top: 50%; */
	/* -ms-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
	/* top: 50%; */
	/* margin: -425px 0 0 50px; */
}

.mySlides {
	position:relative;
	/* border:2px dotted; */
	width:100%;
	height:100%;
	display: none;
  /* overflow-y: auto; */
  margin-bottom: 10px;
}

.mySlidesNew {
	position:relative;
	/* border:2px dotted; */
	width:100%;
	height:100%;

  /* overflow-y: auto; */
  margin-bottom: 10px;

}


.mobilehome {
  text-align: center;
	font-size:9px;
  padding-top:2vh;
  padding-bottom:2vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background:white;
	/* left: 7%; */ */
	/* text-align:center; */
	/* z-index:9999;

	top:4%;
	height:4%;
	width:100%; */
}


.toc {
  /* width: 200px; */
  flex-basis:auto;
  flex-shrink: 1;
  min-width: 150px;
  margin: 0 0;
  background-color: #f8f9fa;
  padding: 1em;
  border: 1px solid;
  border-color: #a2a9b1;
  line-height: 2;
  max-height: 90vh;
  max-width: 200px;
  overflow-x: visible;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: nowrap;
}

.toc_mobile {
	width: 50%;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  margin: 0 0;
  background-color: #f8f9fa;
  padding: 1em;
  border: 1px solid;
  border-color: #a2a9b1;
  line-height: 2;
}

.toc2 {
	  text-indent: 2em;
    word-wrap: break-word;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.column {
  flex: 50%;
  padding: 0 4px;
  overflow: scroll;
  text-align:center;
}

.all-img-mob {
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
	list-style-type: none; /* Remove bullets */
	font-size:9px;
}

.last-img-mob {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  max-height: 50vh;
}


.each-img-mob{
  padding-top: 5vh;
  padding-bottom: 0.5vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  max-height: 50vh;
}

.videoWrapper {
  position: relative;
  padding-top: 0vh;
  /*padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.desktopWrapper {
  width: 100%;
}


.desktopWrapper iframe{
	/* border:2px dotted; */
  display:block;
	width:100%
  max-height: 90vh;





  /* width:100%; */
  /* width: 640px; */
  /* height:500px; */





  /* height: 100vw; */
	/* max-width: 35vw; */


}
